@model IEnumerable<Tallinnarakenduskolledz.Models.Student>
@{
    ViewData["Title"] = "Õpilased";
}
<h1>Õpilased</h1>
<p>
    <a asp-action="Create">sisesta Õpilane</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Tööriistad
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.Id">Muuda</a> |
                    <a asp-action="Details" asp-route-id="@student.Id">Detailid</a> |
                    <a asp-action="Delete" asp-route-id="@student.Id">Kustuta</a>
                </td>
            </tr>
        }
